.Vinito {
    text-align: center;
    color: #fff;
    font-family: 'Georgia', serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 0.5vw;
    background-color: #000;
    box-shadow: 0 9px 10px 0 rgba(52, 51, 51, 0.5);
}

.stickyHeader{
    position:sticky;
    top:0;
    z-index: 30;
}

.navbar{
    position:sticky;
    top:0;
    z-index: 1;
}

.info{
    padding-top: 3vw;
}

body{
    background-color: #fff;
}

p{
    color:rgb(4, 36, 104)
}




.dpampa{
    display: flex;
    row-gap: 50px;
    column-gap: 50px;
    justify-content: space-around;
    align-items: center;
}

.card-text{
    font-family: 'Georgia', serif;
    font-size: 1rem;
    color: #000;
}

.textos{
    font-family: 'Georgia', serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5vw;
    padding-top: 1vw;
}

.footer{
    text-align: center;
    font-family: 'Georgia', serif;
    margin-bottom: 1rem;
    padding: 0.5vw;
}

.copate{
    font-size: 1.5rem;
}

.rights{
    padding: 1.5vw;
    font-size: 0.7rem;
}

/* CONTACTO */
input{
    margin: 0;
}

.consultas{
    margin: 25px;
}

.form-floating{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.contacto{
    font-family: 'Georgia', serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5vw;
    padding-top: 1vw;
}



/* PEDIDO ONLINE */
#Carrito {
    padding: 30px !important;
  }