.card {
    transition: transform 0.3s; /* Agrega una transición suave */
}

/* Estilo cuando el mouse pasa sobre la tarjeta */
.card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra al pasar el mouse */
}


.bodegas{
    padding: 2vw;
}

.seleccion{
    font-family: 'Georgia', serif;
    padding-top: 6vw;
    text-align: center;
}

.footer{
    text-align: center;
    font-family: 'Georgia', serif;
    margin-bottom: 1rem;
    padding: 0.5vw;
}

.textos{
    font-family: 'Georgia', serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5vw;
    padding-top: 1vw;
}

.carrito{
    font-family: 'Georgia', serif;
    margin-bottom: 1rem;
    padding-top: 5vw;
}

.elemento-Eliminar{
    margin-left: 2vw;
}

.elemento-carrito{
    padding: 3vw
}
